* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s linear;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    height: 100%;
}

.button-on-top {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid aqua;
    background-color: transparent;
    i {
        font-size: 18px;
        color: aqua;
    }
}

.box {
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px #ccc;
    border-radius: 10px;
    padding: 10px;
}

.button-animation {
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.5px;
    font-weight: 500;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 500ms;
    cursor: pointer;
}

.button-animation:hover {
    background-size: 100% 100%;
    background-position-x: left;
}

@keyframes show_down {
    from {
        opacity: 0;
        transform: translateY(- 1000px);
    }to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes show_up {
    from {
        opacity: 0;
        transform: translateY(1000px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes show_right {
    from {
        opacity: 0;
        transform: translateX(1000px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes show_left {
    from {
        opacity: 0;
        transform: translateX(-1000px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}