.login {
    width: 100%;
    padding-top: 110px;
    &-container {
        width: 80%;
        margin: 25px auto;
        &--heading {
            text-align: center;
            padding: 10px 0;
            animation: show_down 1.5s ease forwards;
            text-transform: uppercase;
        }
        .login-form {
            width: 40%;
            animation: show_up 1.5s ease forwards;
            margin: 0 auto;
            &__content {
                text-align: center;
                padding: 20px 0;
                &--input {
                    font-size: 24px;
                    width: 80%;
                    margin: 20px 0;
                }
                &--btn {
                    text-align: center;
                    margin: 20px 0;
                    &-basic {
                        font-size: 20px;
                        box-shadow: 3px 3px 3px #ccc;
                        padding: 10px 20px;
                        cursor: pointer;
                    }
                    .devided {
                        margin: 25px 0;
                    }
                }
                &--register {
                    text-align: center;
                    a {
                        margin: 0 10px;
                        text-decoration: none;
                        color: red;
                    }
                    a:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}